.hide{
    position: relative;
    right: -500px;
    opacity: 0;
    transition: right 1s;
}


.visible{
    right: 0;
    opacity: 1;
    transition: right 1s
}


.calavera{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center ;  
}




.calavera img{
    width: 100%;
    max-width: 600px;
}




#dialog-skull{
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15%;
    border-radius: 12px;
    font-size: 13px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    padding: 10px;
    text-align: center;
    width: 80%;
    background: linear-gradient(180deg, rgb(165, 165, 165) 0%, rgba(198,198,198,1) 80%, #d6d6d6 100%);
}

#dialog-skull::before{
    position: absolute;
   font-size: 35px;
    content: "▼";
    color: #d6d6d6;
    left: 20%;
    top: 25px;
    width: 50px;

}

.hideDialog{
    transition: all 0.5s;
    transform: scaleY(0);
    opacity: 0;
}

.visibleDialog{
    transform: scaleY(1);
    opacity: 1;
}





@media(min-width:950px){
    #dialog-skull{
        top: 0;
        font-size: 15px;
        height: 60px;
    }

    #dialog-skull::before{
        left: 20%;
        top: 45px;
        width: 50px;

}
}

@media (max-height: 680px){

    #dialog-skull{
        top: -20%;
        font-size: 15px;
        height: 60px;
    }

    #dialog-skull::before{

        left: 20%;
        top: 44px;
        width: 50px;


   
}

}

@media (max-height: 680px) and (orientation: landscape){

    #dialog-skull{
        top: -7%;
        font-size: 15px;
        height: 60px;
    }

    #dialog-skull::before{

        left: 20%;
        top: 44px;
        width: 50px;

}

}

