.hide{
    position: relative;
    right: -500px;
    opacity: 0;
    transition: right 1s;
}

.visible{
    right: 0;
    opacity: 1;
    transition: right 1s
}

.calavera{
    position: relative;
}
span{
    position: absolute;
    top: -10%;
    height: 50px;
    border-radius: 12px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    padding: 10px;
    text-align: center;
    width: 80%;
    background: rgb(207,207,207);
background: linear-gradient(180deg, rgb(165, 165, 165) 0%, rgba(198,198,198,1) 80%, #d6d6d6 100%);
}

span::before{
    position: absolute;
   font-size: 35px;
    content: "▼";
    color: #d6d6d6;
    left: 20%;
    top: 35px;
    width: 50px;

}

.hideDialog{
    transition: all 0.5s;
    transform: scaleY(0);
    opacity: 0;
}

.visibleDialog{
    transform: scaleY(1);
    opacity: 1;
}

@media(min-width:768px){
    span{
        top: 3%
    }
}


@media(min-width:768px) and (max-width:950px){
    span{
        top: 10%
    }
}