body, header, html{
    width: 100vw;
}

.logo img{
    margin: 10px;
    min-width: 200px;
    width:40%;
}

.inicio{
    position: absolute;
    top: 20%;
    width: 99.5%;
    height: 400px;
    
}

.bienvenida{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

.bienvenida h3{
    font-size: 2em;
    margin: 10px;
}

.bienvenida p{
    font-size: 1em;
    margin: 10px 0 20% 10px;
}

.botones{
    display: block;
    border-radius: 12px;
   
   
}

.botones:first-child{
    background-color: gold;
    height: 60px;
    margin: 20px auto;  
    min-width: 145px; 
    width: 60%;
    
    
}

.botones:nth-child(2){
    background-color: rgb(65, 63, 63);
    color: white;
    height: 50px;
    margin: 20px auto;
    min-width: 145px;
    width: 50%;

}

