/* Mobile First */

@font-face {
    font-family: CaviarDreams;
    src: url("/fonts/CaviarDreams.ttf") format("truetype")
}

body, header, html{
    width: 100vw;
}

.logo img{
    margin: 20px;
    min-width: 200px;
    width:200px;
}

.inicio{
    position: absolute;
    top: 25%;
    width: 99.5%;
    height: 400px;
    
}

.bienvenida{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 10px auto;
    width: 75%;
    
}

.bienvenida h3{
    font-size: 2em;
    margin: 10px;
}

.bienvenida p{
    font-style: italic;
    font-size: 1em;
    margin: 10px 0 20% 10px;
}

.botones{
    border-radius: 12px;
    display: block;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.botones:first-child{
    background-color: gold;
    border: 3px double black;
    font-weight: bolder;
    height: 60px;
    margin: 20px auto;  
    min-width: 145px; 
    width: 60%;   
}

.botones:nth-child(2){
    background-color: rgb(65, 63, 63);
    border: 3px double gold;
    color: white;
    height: 50px;
    margin: 20px auto;
    min-width: 145px;
    width: 50%;

}

