/* Mobile First */

body, header, html{
    width: 100vw;
    background-color: #fbfbfb
}


.logo img{
    margin: 20px;
    min-width: 200px;
    width:200px;
}

main{
    display: grid;
    height: 100vh;
    grid-template-rows: 60% 30% 10% ;
    grid-template-areas: "inicio"
                         "calavera"
                         
}


.inicio{
    position: relative;
    margin-top: 10%;
    width: 99.5%;
    height: 400px;
    grid-area: inicio;
    
}

.bienvenida{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 10px auto;
    width: 75%;
    
}

.bienvenida h3{
    font-size: 2em;
    margin: 10px;
}

.bienvenida p{
    font-style: italic;
    font-size: 1em;
    margin: 10px 0 20% 10px;
}

.botones{
    display: block;
    border-radius: 12px;
   
   
}

.botones:first-child{
    background-color: orange;
    height: 60px;
    margin: 20px auto;  
    min-width: 145px; 
    width: 60%;
    
    
}

.botones:nth-child(2){
    background-color: rgb(65, 63, 63);
    color: white;
    height: 50px;
    margin: 20px auto;
    min-width: 145px;
    width: 50%;

}
.contenedor{
    width: 100%;
    height: 100%;
    background-color: #fbfbfb
}
.calavera{
   
    width: 70%;
    grid-area: calavera;
}

.contenedor h2{
    text-align: center;
}

