.flex-section{
   max-width: 1350px;
   
}

.contenedor-horca{
 display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 
}

.horca{
    align-self: center;
    width: 50%;
    min-width: 156px;
}


.word{
    display: flex;
    align-items: flex-end;
    padding: 5%;    
    justify-content: center;
    flex-grow: 2;   
}

.word-lines{
    position: relative;
    background-color: black;
    height: 10px;
    margin: 100px auto 100px auto;
    min-width: 5%;
    margin-left: 5px;
    
    align-self: flex-end;
}

.chars-word{
    opacity: 0;
    font-size: 24px;
    position: absolute;
    top: -500%;
    transition: all 0.5s;
    text-align: center;
    width: 100%;
}


.result{
    height: 10%;
    text-align: center;
    position: relative;    
    font-size: 1.5em;
    color:black;
    bottom: 40px;
    width: 100%;
    height: 25px;
    font-family: "Montserrat", sans-serif;
    transition: all 1s;
}

.hanged{
    height: 20%;
    position: absolute;
}

.hanged-1, .hanged-dead{
    right: 30%;
    top: 20%;
}

.hanged-2{
    height: 30%;
    left: 60%;
    top:38%
    
}

.hanged-3{
    left: 48%;
}

.hanged-4{
    right: 26%;
}

.hanged-5{
    bottom: 15%;
    left: 51%;
}

.hanged-6{
    right: 28%;
    bottom: 15%;
}

.discarted-letters-div{
    font-size: 2em;
    font-family: "Monteserrat", sans-serif;
    text-align: center;
    position: relative;
    margin: 80px;
}

.boton-playing{
    position: relative;
    background-color: orange;
    height: 60px;
    margin: 20px auto;  
    min-width: 145px; 
    width: 25%;
    opacity: 0;
    transition: all 2s;
}


@media (min-width: 768px){

    .word-lines{
        position: relative;
    }

    .boton-playing{
        position: absolute;
    }
}